/* entity form */
#edit-field-media-videos-wrapper #edit-field-media-videos-current {
  overflow: hidden;
}

#edit-field-media-videos-wrapper #edit-field-media-videos-current > div {
  float: left;
}

#edit-field-media-videos-wrapper iframe,
#edit-field-media-videos-wrapper .video-embed-field-provider-youtube,
#edit-field-media-videos-wrapper video {
  width: 320px;
  height: 240px;
}

/* entity browser popup */
.view-entity-browser .view-content {
  overflow: hidden;
}

.view-entity-browser .views-row {
  float: left;
  margin-right: 16px;
}

.view-entity-browser .field-content > iframe,
.view-entity-browser .field-content > .video-embed-field-provider-youtube,
.view-entity-browser .field-content > video {
  width: 320px;
  height: 240px;
}

.js-form-type-input label,
.js-form-type-checkbox label
{
    display: inline-block;
}

.form-required::after
{
    content: '*';
    color: #F00;
}
